.navigation {
    position: absolute;
    z-index: 4;
    width: 0;
    height: 100vh;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background: rgba(21, 27, 39, 0.79);
    right: 0;
    top: 0;
    -webkit-transition: width 0.2s;
    -o-transition: width 0.2s;
    transition: width 0.2s;
}

.navigation-menu {
    background-color: var(--accent-color);
    -ms-flex-preferred-size: 68.5%;
        flex-basis: 68.5%;
    display: none;
    padding: 30px;
    color: var(--dark-color);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.close-icon {
    margin-bottom: 15px;
}

.navigation-menu__items {
    -ms-flex-item-align: end;
        align-self: flex-end;
    border-bottom: 1px solid var(--dark-color);
    padding-bottom: 20px;
}

.navigation__menu > .menu__item  {
    text-align: end;
}
.navigation__menu > .menu__item >.menu__link {
    color: var(--dark-color);
}

.order-materials {
    font-size: var(--font-xxs);
    text-align: center;
    font-family: var(--font-family-extra);
}

.navigation__menu > .menu__item >.menu__link:hover {
    color: var(--dark-color);
    text-decoration: underline;
    text-underline-offset: 10px;
}